.Price{
    width: 100%;
    font-family: Exo2;
    background-color: black;
    /* background: url(../media/bg-missions.png); */
    color: white;
}
.c_price{
    padding: 200px 20px 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}
.info_price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.info_price .bg_p{
    width: 80%;
    max-width: 650px;
    min-width: 350px;
}
.s_i_price {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 40%;
    right: 15%;
}
.s_s_i {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.s_s_i p{
    font-weight: 600;
}
.c_y{
    color: #ffe400;
}
.b_price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 650px;
    min-width: 290px;
    border: 1px solid #ffe400;
    padding: 30px;
    border-radius: 20px;
    flex-direction: column;
    gap: 20px;
}
.b_p_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.i_p_1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.i_p_1 h4{
    font-size: 20px;
}
.i_p_1 p{
    color: rgba(255,255,255,0.3);
}
.b_p_2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}
.s_b_p_2{
    width: 40%;
    min-width: 280px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}
.s_b_p_2 p{
    color: #ffe400;
    font-size: 14px;
    font-weight: 100;
}
.s_b_p_2 input{
    background: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    color: white;
}
.btn_buy {
    width: 100%;
    text-align: center;
    background: #ffe400;
    padding: 10px;
    border-radius: 15px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #ffe400;
}
.btn_buy:hover{
    border: 1px solid red;
}
@media (max-width: 800px) {
    .s_i_price{
        gap: 5px;
        top: 35%;
        right: 5%;
        font-size: 12px;
    }
}